/* RESET */
* { padding: 0; margin: 0; }
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}

/* VIDEOS */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
body{ font-size: 14px; font-family: 'Open Sans', sans-serif; background-color:black; }
li{ float: left; list-style: none; position: relative; width: 100%; }
li img, li embed { width: 100%; }
li embed { height: 202px;}
.play-video { position: absolute; top: 44%; left: 44%; }
.play-video img { width: 25%; height: 25%; }
h2 { position: absolute; top:0; padding: 10px 0 0 10px; overflow: hidden; color: white; background: rgba(0,0,0,0.6); width: 97%; min-height: 50px; }

form { padding: 10px;}
form input { margin-bottom: 10px; margin-right: 20px; float: left; padding: 6px 12px; font-size: 14px; border: 1px solid #ccc; border-radius: 4px; }
form button { color: #fff; background-color: #5cb85c; border-color: #4cae4c; padding: 6px 12px; font-size: 14px; cursor: pointer; border: 1px solid transparent; border-radius: 4px; }

@media (min-width:768px){
    li{ width: 50%; }
}
@media (min-width: 992px){
    li{ width: 25%; }
}